:root {
  --color-light: #ffffff;
  --font-body: 'Quicksand', sans-serif;
  --color: #1fccc3 !important;
}

body {
  font-family: var(--font-body);
}

.bg-green {
  background-color: #7ED957;
}

.logo {
  font-size: 2rem;
}

.navbar-toggler {
  box-shadow: none !important;
  border-color: var(--color-light);
}

.nav-link {
  font-weight: 600;
}

.nav-link:hover {
  color: #000000  !important;
}

.icon {
  font-size: 2.5rem;
}

.agencia img {
  max-width: 135%;
  transition: all 0.5s ease-in-out;
  display: inline-block;
  padding: 25px 0;
  /*  filter: grayscale(100); */
}

.agencia img:hover {
  filter: none;
  transform: scale(1.00);
}

.creditcard {
  max-width: 90%;
  display: inline-block;
  padding: 25px 0;
}

.services_icon{
  max-width: 35%;
}

.selecao{
  max-width: 100%;
}

.btn-primary{
  color: black;
  padding: 8px 24px;
  border-radius: 4px;
  background: white;
  transition: background 0.3s ease;


}

.btn-primary:hover {
  background: #309a02;
  color: white;
}


.dropdown:hover>.dropdown-menu {
 display: block;
 background-color: #7ED957;

}

.dropdown-item:active {
  color:black;
  background-color: #56b030;
}


.serviços{
  color:black;
}

/* Investimentos */


.investimentos {
  max-width: 100%;
  display: inline-block;
  padding: 35px 0;
  background-color: #7ED957;
}


checar codigo masthead

.masthead .masthead-subheading {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.5rem;
  margin-bottom: 25px;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.masthead .masthead-heading {
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 3.25rem;
  margin-bottom: 2rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.cards-wrapper {
  display: flex;
  justify-content: center;
}

.card img {
  max-width: 100%;
  max-height: 100%;
}

.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
}

.carousel-inner {
  padding: 1em;
}

.carousel-control-prev,
.carousel-control-next {
background-color: #e1e1e1;
width: 5vh;
height: 5vh;
border-radius: 50%;
top: 50%;
transform: translateY(-50%);
}

.creditcard:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


.btn-flat {
  color: black;
  padding: 8px 24px;
  border-radius: 4px;
  background: #7ED957;
  transition: background 0.3s ease;
}

.btn-flat:hover {
background: #309a02;
color: white;
}
